// Vertical align everything in tables
table td {
  vertical-align: middle;

  * {
    vertical-align: middle;
  }

  input[type="checkbox"] {
    margin: 0;
  }

  a.iconImage {
    display: inline-block;
    text-decoration: none;
  }
}

// Table
.koowa_table {
  @include box-sizing(border-box);
  margin-top: $smallMargin;
  margin-bottom: $smallMargin;
  width: 100%;
  overflow: auto;

  .koowa_header {
    margin: 0;
  }

  .koowa_table_list .icon {
    margin-right: 0.1em;

    @include rtl {
      margin-right: 0;
      margin-left: 0.1em;
    }
  }

  .koowa_table_list .btn-toolbar {
    margin: 0;
  }

  .koowa_table_list .icon.autosize {
    max-width: 1.75em;
  }

  .koowa_table--pagination {
    margin-top: 0;
  }

  .koowa_table--documents,
  .koowa_table--files {
    margin-bottom: 0;
  }

  .koowa_table__dates {
    text-align: right;
    white-space: nowrap;

    @include rtl {
      text-align: left;
    }
  }

  .koowa_table__manage {
    .koowa_toolbar {
      margin: 0;
    }
  }

  .detail-label {
    font-size: .9em;
  }
}

.k-table-data--toggle {
  padding: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  width: 0;
  visibility: visible;
}

.footable.breakpoint .k-table-data--toggle {
  width: 1%;
  padding-left: 4px;
  padding-right: 4px;
}