.koowa_anchor {

  visibility: hidden;
  padding-left: 5px;

  a {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: underline;
    text-shadow: none;
    letter-spacing: 0;
    background: #fff;
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }
}

.koowa_header:hover .koowa_anchor {
  visibility: visible;
}