// Vars for this file only
$bodyPadding: 20px;
$maxWidth: 1020px;

html.koowa-html,
body.koowa_template {
  height: 100% !important;
}

// Do not add this to the above selectors.
// If position: relative is used on the html element nothing will show on IE8 within a modal...
.koowa-html {
  position: relative;
}

.koowa-html.old-ie-html {
  position: static;
}

.koowa-html {
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  overflow: hidden;
  @include box-sizing(border-box);

  * {
    @include box-sizing(border-box);
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // Joomla modal specific classes
  &.joomla_modal {
    padding: 0;
  }

  // Magnific popup specific classes
  &.inside_modal {
    padding: 10px;

    @media screen and (min-width: 600px) {
      overflow: hidden;
    }

    body {
      margin: 0;
    }

    &.joomla_modal {
      padding: 0 !important;
    }

    .koowa_template {
      padding: 0;
      background: #fff;
      margin: auto;

      .koowa_template_container {
        background: #fff;
        margin: auto;
        max-width: none;
        @include box-shadow(none);
        @include clearfix();
      }
    }
  }

  // Styling the body class
  .koowa_template {
    margin: 0;
    padding: 50px 0 20px;
    background: #333;
    height: 100%;
    overflow: auto;

    @media screen and (min-width: 600px) {
      padding: 65px 10px 30px;
    }

    .koowa_template_container {
      margin: 0 auto;
      max-width: $maxWidth;
      height: 100%;
      @include clearfix();

      .koowa {
        height: auto;

        &.full_height {
          height: 100%;
        }

        .koowa_form {
          background: #fff;
          @include box-shadow(0 5px 8px rgba(0, 0, 0, .75));
        }
      }
    }

    // sbox windows can't be larger than 100%
    #sbox-window iframe {
      max-width: 100%;
      max-height: 100%;
    }

    label {
      font-size: 13px;
    }

    .btn {
      display: inline-block;
      padding: 4px 12px;
      font-size: 13px;
      margin-bottom: 0;
      line-height: 18px;
      text-align: center;
      vertical-align: middle;
    }

    .koowa_toolbar {
      @include clearfix();
      position: fixed;
      z-index: 999;
      top: 0;
      left: auto;
      right: auto;
      width: 100%;
      max-width: $maxWidth;
      text-align: center;
      margin: 0 auto;
      float: none;
      display: block;

      @media screen and (min-width: 600px) {
        @include box-sizing(border-box);
        border-top: 15px solid #333; // Make the window appear to be 15px from the top
        border-left: 10px solid #333; // Make the window appear to be 10px from the left
        border-right: 10px solid #333; // Make the window appear to be 10px from the right
        margin-left: -10px;
        margin-right: -10px;
        max-width: $maxWidth+20;
      }

      .btn-toolbar {
        border-bottom: 1px solid #CCC; // Make the window appear to be 15px from the top
        height: 50px;
        margin: 0;
        padding: 10px;
        min-height: 30px;
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed));
        background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%);
        background: linear-gradient(top, #ffffff 0%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
        color: #0C192E;
        text-shadow: 0 1px 0 #FFF;
        display: block;
        float: none;
        text-align: left;

        i {
          display: none !important;
        }
      }
    }

    .koowa_form {
      padding: 0 $bodyPadding;
    }

    .description_container {
      overflow: auto;

      @media screen and (max-width: 320px) {
        width: 320px - ($bodyPadding * 2);
      }

      [class^="icon-"] {
        display: none !important;
      }
    }

    // Re-aligning the description buttons
    #editor-xtd-buttons .btn-toolbar {
      margin: 0;
    }

    // Give alert messages some styling
    .koowa_messages {
      background: #fff;
      @include clearfix();
    }
    .alert {
      margin: 10px;
    }

    // Copied the bootstrap button css so styles in Joomla! 2.5 will look the same
    #editor-xtd-buttons,
    .toggle-editor {
      margin: 10px 0;
      float: left;
    }
    .toggle-editor {
      float: right;
    }
    .button2-left {
      display: inline-block;
    }
    .button2-left a {
      display: inline-block;
      *display: inline;
      /* IE7 inline-block hack */

      *zoom: 1;
      padding: 4px 12px;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      color: #333333;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
      background-color: #f5f5f5;
      background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
      background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
      background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
      background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
      border-color: #e6e6e6 #e6e6e6 #bfbfbf;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      *background-color: #e6e6e6;
      /* Darken IE7 buttons by default so they stand out more given they won't have borders */

      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      border: 1px solid #cccccc;
      *border: 0;
      border-bottom-color: #b3b3b3;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      *margin-left: .3em;
      @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05));
    }
    .button2-left a:hover,
    .button2-left a:focus,
    .button2-left a:active,
    .button2-left a.active,
    .button2-left a.disabled,
    .button2-left a[disabled] {
      color: #333333;
      background-color: #e6e6e6;
      *background-color: #d9d9d9;
    }
    .button2-left a:active,
    .button2-left a.active {
      background-color: #cccccc \9;
    }
    .button2-left a:first-child {
      *margin-left: 0;
    }
    .button2-left a:hover,
    .button2-left a:focus {
      color: #333333;
      text-decoration: none;
      background-position: 0 -15px;
      -webkit-transition: background-position 0.1s linear;
      -moz-transition: background-position 0.1s linear;
      -o-transition: background-position 0.1s linear;
      transition: background-position 0.1s linear;
    }
    .button2-left a:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    .button2-left a.active,
    .button2-left a:active {
      background-image: none;
      outline: 0;
      @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05));
    }
    .button2-left a.disabled,
    .button2-left a[disabled] {
      cursor: default;
      background-image: none;
      opacity: 0.65;
      filter: alpha(opacity=65);
      @include box-shadow(none);
    }
  }
}