// Wrapping words
@mixin wrap_words() {
  // Breaking
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;

  // Hyphenation, the better word-break (newer browsers only)
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}