.select2-container.select2-container.select2-container { // To win when outside of .koowa namespace
  min-width: 100%;

  .select2-choice,
  .select2-choice .select2-chosen {
    white-space: normal;
  }
}

// Special classes for admin (j3) area
.admin .select2-container.select2-container.select2-container { // To win when outside of .koowa namespace
  min-width: 220px;
  width: auto !important;
  max-width: 100%;
}

.select2-container-multi .select2-choices .select2-search-choice.select2-search-choice {
  margin-right: 3px;
}