.pagination-toolbar {
  a {
    color: $linkColor;
    cursor: pointer;
  }
  //J!3.0 pagination fix
  .page span,
  a {
    line-height: 20px;
  }
  .disabled {
    @include opacity(100);

    a {
      color: #999;
      background-color: white;
    }
  }
  .limit {
    float: left; // position item next to the pagination pages
    height: 30px;
    margin: 0 10px;

    &.pull-right {
      float: right;
    }

    select {
      width: auto;
      height: 28px;
      margin: 1px 0;
      @include box-sizing(border-box);
    }
  }
}