/* $group Scope Bar */
.scopebar {
  @include gradient-vertical(#F2F2F2, #E9E9E9);
  min-height: 22px;
  font-size: 11px;
  line-height: normal;
  padding: 3px;
  border-bottom: 1px solid #DBDBDB;

  .scopebar-group {
    display: block;
    float: left;
    border-right: 1px solid #BBB;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 2px;
    position: relative;
    z-index: 1; //For the search part to not make links unclickable

    &.last {
      border-right: 0 none;
      margin-right: 0;
    }

    select {
      background: transparent;
      padding: 2px 0 2px 5px;
      font-size: 10px;
      line-height: 10px;
      height: 15px;
      width: 90px;
      overflow: hidden;
      margin: 0;
      margin-top: -2px;
      -webkit-appearance: none;
      box-shadow: inset hsla(0, 0%, 100%, 0.6) 0 1px 0, hsla(0, 0%, 100%, 0.6) 0 1px 0;
      @include border-radius(10px);
    }

    a {
      margin: 0 2px;
      padding: 2px 7px;
      font-weight: bold;
      color: #363636;
      text-transform: capitalize;
      text-shadow: hsla(0, 0%, 100%, 0.75) 0 1px 0;
    }

    a:hover,
    a.active {
      text-decoration: none;
      background: #A0A0A0;
      color: #FFF;
      text-shadow: hsla(0, 0%, 0%, 0.35) 0 1px 0;
      @include border-radius(10px);
    }

    a.active,
    a:hover:active {
      @include box-shadow(inset hsla(0, 0%, 20%, 0.8) 0px 1px 2px, white 0 1px 0);
    }

    a:hover:active {
      background: gray;
    }
  }

  .scopebar-search {
    margin-left: 25px;
    text-align: right;
    position: relative;

    input {
      height: 16px;
    }
  }
}