@charset "UTF-8";
/**
 * Debugger
 * ========
 * A flat colored debugger
 */
/**
 * Global tools
 * ------------
 * 1. Variables
 * 2. Code highlighter styling
 * 3. The dumper styles
 */
/* ==========================================================================
   Solarized
   ========================================================================== */
/**
 * Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>
 */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496; }

.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-doctype,
.hljs-pi,
.lisp .hljs-string,
.hljs-javadoc {
  color: #586e75; }

/* Solarized Green */
.hljs-keyword,
.hljs-winutils,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
  color: #859900; }

/* Solarized Cyan */
.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rules .hljs-value,
.hljs-phpdoc,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url {
  color: #2aa198; }

/* Solarized Blue */
.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.vhdl .hljs-literal,
.hljs-id,
.css .hljs-function {
  color: #268bd2; }

/* Solarized Yellow */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.haskell .hljs-type,
.hljs-link_reference {
  color: #859900; }

/* Solarized Orange */
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-pragma,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-subst,
.hljs-cdata,
.clojure .hljs-title,
.css .hljs-pseudo,
.hljs-header {
  color: #cb4b16; }

/* Solarized Red */
.hljs-deletion,
.hljs-important {
  color: #dc322f; }

/* Solarized Violet */
.hljs-link_label {
  color: #6c71c4; }

.tex .hljs-formula {
  background: #073642; }

/**
 Orginal Style from http://tracy.nette.org (c) 2004 David Grudl <http://davidgrudl.com>
*/
/* toggle */
.k-debug-collapsed {
  display: none; }

.k-debug-toggle {
  cursor: pointer;
  border-bottom: 1px dotted #bbb; }
  .k-debug-toggle:after {
    content: " ▼";
    font-size: 10px;
    color: #888; }

.k-debug-toggle.k-debug-collapsed {
  display: inline; }
  .k-debug-toggle.k-debug-collapsed:after {
    content: " ►"; }

/* dump */
.arguments_wrapper {
  max-width: 100%;
  overflow: auto;
  white-space: nowrap !important; }
  .arguments_wrapper pre.arguments {
    text-align: left;
    background: white;
    color: #555;
    line-height: 1.5em;
    white-space: nowrap !important; }
    .arguments_wrapper pre.arguments div {
      padding-left: 3ex; }
      .arguments_wrapper pre.arguments div div {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        margin-left: .5ex; }

.k-debug-dump-array,
.k-debug-dump-object {
  color: #dc322f; }

.k-debug-dump-string {
  color: #268bd2; }

.k-debug-dump-number {
  color: #859900; }

.k-debug-dump-null,
.k-debug-dump-bool {
  color: #b58900; }

.k-debug-dump-visibility,
.k-debug-dump-hash {
  font-size: 85%;
  color: #657b83; }

.k-debug-dump-indent {
  display: none; }

.k-debug-dump-key:before {
  display: block;
  content: " ";
  width: 100%;
  height: 0;
  overflow: hidden; }

/**
 * Mixins
 * ------
 * 1. Transition mixin
 */
/**
 * Box-sizing
 * ------
 * Box sizing border-box all elements for this page
 */
body * {
  box-sizing: border-box; }

.hidden {
  display: none !important; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #d7dcdc;
  color: #002b36; }

#error_page:before, #error_page:after {
  display: table;
  content: " "; }

#error_page:after {
  clear: both; }

h2, h3, h4 {
  margin: 0 0 20px 0;
  padding: 0;
  color: #268bd2; }

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse; }

table td {
  background: #fff;
  border: 1px solid #d7dcdc;
  padding: 10px; }

table td code {
  color: #d33682; }

code,
pre {
  margin: 0; }

.sticky {
  position: fixed;
  top: 0;
  left: 0; }

.page_message,
.error_container__header,
.trace__item .trace__item__file {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5em; }

.page_header__exception,
.page_message__text,
.arguments,
.error_container__header {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all; }
  .page_header__exception .linenumber,
  .page_message__text .linenumber,
  .arguments .linenumber,
  .error_container__header .linenumber {
    white-space: nowrap;
    display: inline; }

.error_page__head {
  position: relative;
  z-index: 9; }

.page_header,
.page_message {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal; }

.page_header__exception,
.page_header__code,
.page_message__text,
.page_message__button {
  display: table-cell;
  padding: 20px; }

.page_header {
  background: #dc322f;
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: 1em;
  text-shadow: -1px -1px 0 #b9221f;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 600px) {
    .page_header {
      font-size: 1.5em; } }

.page_header__code,
.page_message__button {
  text-align: right;
  padding-left: 0; }

.page_header__exception {
  color: #fff;
  text-decoration: none; }
  .page_header__exception:hover {
    text-decoration: underline; }

.page_message {
  background: #073642;
  color: #eee8d5;
  text-shadow: -1px -1px 0 #002b36;
  position: relative;
  z-index: 1; }

.page_message__button {
  cursor: pointer; }

#the_error .error_container__code {
  overflow: hidden; }

#the_error .error_container__header {
  background: #268bd2;
  color: #fff;
  padding: 10px 20px; }
  #the_error .error_container__header .linenumber {
    color: #FFF83D; }

.linenumber {
  color: #268bd2;
  font-weight: bold; }
  @media screen and (min-width: 600px) {
    .linenumber {
      color: #FFF83D; } }

.error_container__code {
  margin: 0 0 20px 0; }

.source {
  display: block;
  width: auto;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  overflow-x: auto;
  background: #002b36;
  color: #839496;
  border: none;
  outline: none; }
  .source code {
    min-width: 100%;
    max-width: none;
    width: auto;
    display: inline-block;
    font-size: 13px;
    line-height: 1.5em;
    border: none;
    outline: none; }
  .source .line {
    display: block;
    padding: 0; }
  .source .highlight {
    background: #073642; }

.trace_container, .codes_container {
  display: block;
  float: left;
  margin: 0; }

.trace_container {
  display: none; }
  @media screen and (min-width: 600px) {
    .trace_container {
      display: block; } }

.trace_container {
  width: 33%;
  min-height: 10px;
  word-wrap: break-word;
  list-style: none; }

.trace_container .trace__item {
  display: block;
  counter-increment: trace-counter -1;
  position: relative;
  background: #fff;
  color: #002b36;
  margin-bottom: 1px;
  padding: 15px;
  cursor: pointer;
  line-height: 1.5em;
  text-decoration: none;
  transition: all 0.1s ease-in-out; }

.trace__item .trace__item__file {
  display: block;
  margin: 0; }

.trace__item .trace__item__header {
  display: block;
  color: #268bd2;
  font-weight: bold;
  margin: 0; }

.trace__item.active_trace_item .trace__item__header {
  color: #FFF83D; }

.trace__item:hover {
  background: #FFF83D; }

.trace__item.active_trace_item {
  background: #268bd2;
  color: #fff; }

.trace_container .trace__item:before {
  content: counter(trace-counter);
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 12px;
  color: #657b83; }

.trace_container .trace__item.active_trace_item:before {
  color: #b8daf2; }

.codes_container {
  width: 100%;
  background: #f2f4f4;
  border-left: 1px solid #d7dcdc; }
  @media screen and (min-width: 600px) {
    .codes_container {
      width: 67%; } }

.codes_container__item {
  margin-top: -68px;
  padding-top: 68px; }
  .codes_container__item .codes_container__content {
    padding: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d7dcdc;
    position: relative;
    transition: all 0.1s ease-in-out; }
    .codes_container__item .codes_container__content:hover {
      background: #fff; }
    @media screen and (min-width: 600px) {
      .codes_container__item .codes_container__content:hover {
        background: transparent;
        cursor: default; }
      .codes_container__item .codes_container__content .error_container__header {
        background: #268bd2;
        color: #fff;
        padding: 10px 20px; } }
    .codes_container__item .codes_container__content.active_source_item {
      background: #fff; }
      .codes_container__item .codes_container__content.active_source_item:before {
        display: block;
        content: " ";
        position: absolute;
        width: 4px;
        top: -1px;
        bottom: -1px;
        left: -1px;
        background: #268bd2; }
    .codes_container__item .codes_container__content .error_container__code {
      display: none; }
      @media screen and (min-width: 600px) {
        .codes_container__item .codes_container__content .error_container__code {
          display: block; } }
    .codes_container__item .codes_container__content h3 {
      counter-increment: source-counter -1;
      cursor: pointer; }
      .codes_container__item .codes_container__content h3:before {
        content: counter(source-counter) ". "; }
      .codes_container__item .codes_container__content h3:after {
        content: " ☰"; }
      @media screen and (min-width: 600px) {
        .codes_container__item .codes_container__content h3 {
          cursor: default; }
          .codes_container__item .codes_container__content h3:after {
            display: none; } }
    .codes_container__item .codes_container__content div.args {
      display: none; }
      @media screen and (min-width: 600px) {
        .codes_container__item .codes_container__content div.args {
          display: block; } }

.error_container__header a {
  color: #002b36; }
  .error_container__header a:hover {
    text-decoration: none; }
  @media screen and (min-width: 600px) {
    .error_container__header a {
      color: #fff; } }

.error_page__head a,
.codes_container__content.visible a {
  color: #fff; }

.page_data {
  background: #fdf6e3;
  padding: 30px;
  height: auto;
  max-width: 100%;
  color: #b58900;
  text-align: center;
  text-shadow: 1px 1px 0 white; }

.visible {
  display: block !important; }

.visible .error_container__code,
.visible div.args {
  display: block !important; }

.visible .error_container__header {
  background: #268bd2;
  color: #fff;
  padding: 10px 20px; }

.visible .linenumber {
  color: #FFF83D; }

.old-ie {
  min-width: 600px; }
  .old-ie #error_page .page_header {
    font-size: 1.5em; }
  .old-ie #error_page .trace_container {
    display: block; }
  .old-ie #error_page .codes_container {
    width: 67%; }
  .old-ie #error_page .codes_container__item:hover {
    background: transparent;
    cursor: default; }
  .old-ie #error_page .codes_container__item .error_container__header {
    background: #268bd2;
    color: #fff;
    padding: 10px 20px; }
    .old-ie #error_page .codes_container__item .error_container__header .linenumber {
      color: #FFF83D; }
  .old-ie #error_page .codes_container__item .error_container__code {
    display: block; }
  .old-ie #error_page .codes_container__item h3 {
    cursor: default; }
  .old-ie #error_page .codes_container__item div.args {
    display: block; }
  .old-ie #error_page .error_container__header a {
    color: #fff; }
