// The outer container
.koowa_container {
  @include clearfix;
  margin: 0 auto;
  max-width: 1020px;
  padding: 15px 0 0;

  @media screen and (min-width: $maxWidth) {
    padding-left: 10px;
    padding-right: 10px;
  }

  // Border-box-size everything within this view
  &, * {
    @include box-sizing(border-box);
  }
}


// Rows
.koowa_grid__row {
  @include clearfix;
}


// Grid items
.koowa_grid__item {
  float: left;
  display: block;
  width: 100%;

  // Separate columns with padding
  @media screen and (min-width: $queryWidthMedium) {
    padding-left: $koowaGutterWidthSecondLevel;
  }

  // Bigger screen, bigger padding
  @media screen and (min-width: $maxWidth) {
    padding-left: $koowaGutterWidthFirstLevel;
  }

  // Three different sizes to use
  @media screen and (min-width: $queryWidthMedium) {
    &.one-third {
      width: 33.333333333%;
    }

    &.two-thirds {
      width: 66.666666666%;
    }

    &.one-half {
      width: 50%;
    }
  }


  // Always make sure the first child doesn't have padding
  &:first-child {
    padding-left: 0;
  }


  // setting up the fieldsets
  fieldset {
    width: 100%;
    float: left;
    display: block;
    overflow: hidden;
  }


  // Adding a top margin to the help block so it won't stick to the forms
  .help-block {
    margin-top: 10px;
  }


  // Control groups
  .control-group,
  .controls {
    @include clearfix;
  }

  .control-group {
    margin-bottom: 16px;
  }

  .control-label {
    margin-bottom: 6px;
    font-weight: bold;
  }

  .controls {
    min-height: 40px;
    max-width: 100%;
  }

  // The editor should be able to flow inside it's controls container
  .description_container .controls {
    overflow: auto;
  }

  .btn-group.radio {
    padding: 0;
  }


  // minimum height for block level inputs
  .input-block-level {
    min-height: 28px;
  }


  // Legends should always clear floats
  legend {
    display: block;
    width: 100%;
    clear: both;
  }


  // Labels for radio and checkbox groups are purely decoration
  // So they should never have cursor: pointer;
  label {
    cursor: auto;

    // All labels with for attribute should always have cursor: pointer
    &[for] {
      cursor: pointer;
    }
  }


  // JCE fix
  .mceLayout {
    max-width: 100%;
    width: 99%;
  }
}