// Wrapping words
@mixin wrap_words() {
  // Breaking
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;

  // do not hyphenate
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}