// Margins
$smallMargin:                       10px !global;
$mediumMargin:                      20px !global;
$largeMargin:                       30px !global;

// Sizes
$smallFont:                         12px !global;
$iconSize:                          24px !global;

// Widths
$maxWidth:                          1020px !global;
$queryWidthMedium:                  768px !global;
$koowaGutterWidthFirstLevel:        45px !global;
$koowaGutterWidthSecondLevel:       30px !global;