.table {
  margin-top: 0px;
  margin-bottom: 0px; // Bootstap override
  color: #616161;
  font-size: 13px;
  line-height: 1.3em;

  *.nowrap {
    white-space: nowrap !important;
  }

  th, td {
    white-space: nowrap;
    vertical-align: middle;

    * {
      vertical-align: middle;
    }

    .image-thumbnail {
      max-width: 24px;
      height: auto;
    }
  }

  thead {
    background-color: $grayLighter;

    tr, th {
      padding: 4px 8px;
      vertical-align: middle;
    }

    td {
      background-color: lighten($grayLighter, 3%);
    }
  }

  tbody {
    &.selected-single tr.selected td {
      border-top: 1px solid adjust-hue($btnPrimaryBackground, 5%);
      text-shadow: hsla(0, 0%, 0%, 0.2) 0 -1px 0;
      @include gradient-vertical($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
      @include box-shadow(hsla(0, 0%, 100%, 0.2) 0 1px 0 inset);
    }
    &.selected-multiple tr.selected td {
      border-top: 1px solid #ddd;
      background: $btnPrimaryBackground;
    }

    tr, td {
      vertical-align: middle;

      .btn-mini {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }

    tr {
      td {
        border-top: 1px solid #ddd;
        padding: 3px 8px;
        height: 35px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        small {
          display: block;
          margin-top: -2px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .koowa_header__image_container {
          width: 16px;
          height: 16px;
          display: inline-block;
          text-align: center;
          vertical-align: middle;

          .koowa_header__image {
            width: auto;
            height: auto;
            max-height: 16px;
            max-width: 16px;
          }
        }
      }

      &.selected td, &.selected td a, &.selected td small, &.selected td span {
        color: white !important;
      }
    }
  }

  tfoot td {
    background-color: $grayLighter;
    text-align: center;

    .pagination {
      display: inline-block;
      padding: 0;
      margin: 0 auto;
    }
  }
}