// Undo Joomla radio classes so we can have the fancy/familiar buttons in the J3 admin but regular radios in J25 and in the front forms
.radio.btn-group label.btn {
  margin: 0 20px 10px 0;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-block;
  float: none;
  width: auto;
  text-align: left;
  min-height: 28px;
  line-height: 28px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  &:last-child {
    margin-right: 0;
  }

  input {
    margin: 6px 10px 0 2px;
    padding: 0;
    vertical-align: middle;
  }
}