// Remove all styling for joomla 2.5 templates
.pagination {
  .pagination-list {
    margin: 0 16px 0 0 !important;
    padding: 0 !important;
    list-style: none !important;
    text-align: center !important;
    border: none !important;

    li {
      margin: 0 !important;
      padding: 0 !important;
      list-style: none !important;
      text-align: center !important;
      border: none !important;
      display: block !important;
      float: left !important;
    }
  }

  .limit {
    line-height: 30px;

    * {
      vertical-align: baseline;
    }
  }
}