ul.sidebar-nav {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 12px;
  }

  li a {
    display: block;
    padding: 6px 0 6px 10px;
    color: #444;
    border-top: 1px solid #F9F9F9;
    line-height: 16px;
    background-color: white;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  li a:hover,
  li.active ul li a:hover {
    color: #fff;
    border-top-color: lighten($btnPrimaryBackground, 20%);
    @include gradient-vertical(lighten($btnPrimaryBackground, 25%), lighten($btnPrimaryBackground, 15%));
    text-decoration: none;
  }

  li.active > a,
  li.active > a:hover {
    color: #FFF;
    border-top-color: adjust-hue($btnPrimaryBackground, 5%);
    @include gradient-vertical($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
    @include box-shadow(hsla(0, 0%, 100%, 0.2) 0 1px 0 inset);
    text-shadow: hsla(0, 0%, 0%, 0.2) 0 -1px 0;
  }

  li ul li a {
    padding-left: 32px;
  }

  li.active ul li a {
    background: none;
    background-color: white;
    color: #444;
    border-top-color: #F9F9F9;
  }
}